@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;900&family=Nunito:wght@200;300;400;500;600&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300&family=Rubik:wght@300;400;500;600&display=swap");
:root {
  --primaryColor: hsl(14,50%,53%);
  --primaryColorLihght: hsl(14, 96%, 91%);
  --bgColor: hsl(0 , 0%, 100%);
  --formColor: hsl(20 , 42% , 87%);
  --whiteColor: hsl(0,0%,100%);
  --blackColor: hsl(0,0%,18%);
  --greyText: hsl(0,0%,51%);
  --inputColor: hsl(330,12%,97%);
  --cardColor: hsl(300,3%,94%);
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem ;
  --smallFontSize: 0.813 rem ;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.home {
  position: relative;
  height: 95vh;
  width: 100%;
  top: 0;
}
.home .videoBg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.home .videoBg video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .sectionText {
  position: absolute;
  height: 100%;
  top: 30%;
  bottom: 50%;
  color: var(--whiteColor);
  padding: 0 1.3rem;
}
.home .sectionText h1 {
  font-size: var(--biggestFontSize);
  font-weight: 900;
}
.home .sectionText p {
  padding: 1rem 0;
  font-size: var(--normalFontSize);
  font-weight: 500;
}
.home .sectionText .btn {
  gap: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: var(--h3FontSize);
}
.home .popularPlaces {
  display: none;
}

@media screen and (min-width: 480px) {
  .home .sectionText {
    padding: 0 2rem;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .home .sectionText h1 {
    font-size: var(--biggestFontSize);
    font-weight: 900;
  }
  .home .sectionText p {
    padding: 1rem 0;
    font-size: var(--h2FontSize);
    max-width: 70%;
    margin: auto; /* min derna 70% cheia hrbet la gauche w b marjin auto katwli l west meme chose pour le bboutton*/
  }
  .home .sectionText .btn {
    font-size: var(--h3FontSize);
    margin: auto;
  }
}
@media screen and (min-width: 769px) {
  .home .sectionText {
    width: 100%;
    margin-top: 3rem;
  }
  .home .sectionText h1 {
    font-size: 3rem;
    font-weight: 900;
    max-width: 70%;
    margin: auto;
  }
  .home .sectionText p {
    padding: 2rem 0; /* nws3o dik l paragraph sghiira*/
    font-size: var(--h2FontSize);
    max-width: 70%;
    margin: auto;
  }
  .home .sectionText .btn {
    gap: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: var(--h3FontSize);
    margin: auto;
  }
}
@media screen and (min-width: 1040px) {
  .home {
    position: relative;
  }
  .home .sectionText h1 {
    font-size: 2.5rem;
  }
  .home .sectionText .btn {
    margin-top: 0rem;
  }
  .home .popularPlaces {
    display: block;
    position: absolute;
    bottom: 1%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .home .popularPlaces .content h3 {
    color: var(--whiteColor);
    padding: 1rem 0;
    position: relative;
    color: var(--blackColor);
  }
  .home .popularPlaces .content h3::after {
    content: "";
    width: 83%;
    height: 2px;
    background: rgb(202, 202, 202);
    right: 0;
    bottom: 50%;
    position: absolute;
  }
  .home .popularPlaces .content .images {
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .home .popularPlaces .content .images img {
    height: 100px;
    width: 210px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10px;
  }
}/*# sourceMappingURL=Home.css.map */